body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

h1 {
    color: #333;
}

form {
    margin: 20px;
}

input {
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px 15px;
    background: green;
    color: white;
    border: none;
}

ul {
    list-style: none;
}